{% extends "base.html" %}

{% block content %}

    <div class="container py-5 text-center">

    <h1 class="display-4 fw-bold">
        <i class="bi bi-bar-chart-line-fill">  Developer Growth Dashboard</i>
    </h1>

    <p class="lead mt-4">
        The Developer Growth Dashboard helps developers track daily coding activities,
        monitor project progress, analyse productivity trends and maintain consistent
        learning habits. It provides a centralized platform to record development logs,
        review achievements and measure overall growth, enabling developers to improve
        their technical skills and achieve their professional goals efficiently.
    </p>

</div>
    
{% endblock %}
    